@import './var.scss';
@import './icon.scss';
@import './btn.scss';
@import './scrollbar.scss';
@import './animation.scss';

.#{$namespace}-datepicker {
  position: relative;
  display: inline-block;
  width: 210px;
  svg {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
}

.#{$namespace}-datepicker-range {
  width: 320px;
}

.#{$namespace}-datepicker-inline {
  width: auto;
}

.#{$namespace}-input-wrapper {
  position: relative;
  .#{$namespace}-icon-clear {
    display: none;
  }
  &:hover {
    .#{$namespace}-icon-clear {
      display: block;
    }
    .#{$namespace}-icon-clear + .#{$namespace}-icon-calendar {
      display: none;
    }
  }
}

.#{$namespace}-input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 6px 30px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: $input-color;
  background-color: #fff;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  &:hover,
  &:focus {
    border-color: $input-hover-border-color;
  }
  &:disabled,
  &.disabled {
    color: $disabled-color;
    background-color: $disabled-background-color;
    border-color: $input-border-color;
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }
  &::-ms-clear {
    display: none;
  }
}

.#{$namespace}-icon-calendar,
.#{$namespace}-icon-clear {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
}

.#{$namespace}-icon-clear {
  cursor: pointer;
  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }
}

.#{$namespace}-datepicker-main {
  font: 14px/1.5 'Roboto', Roboto, Arial, 'Microsoft Yahei', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: $default-color;
  background-color: #fff;
  border: 1px solid $gray-500-light-theme;
  border-radius: 12px;
}

.#{$namespace}-datepicker-popup {
  position: absolute;
  margin-top: 1px;
  margin-bottom: 1px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  z-index: $popup-z-index;
}

.#{$namespace}-datepicker-content {
  display: inline-flex;
}

.#{$namespace}-datepicker-sidebar {
  box-sizing: border-box;
  width: $sidebar-margin-left;
  margin: 16px 0;
  padding: 0 16px;
  border-right: 1px solid $light-gray;
  overflow: auto;
  min-height: 258px;

  @media (max-width: 750px) {
    min-height: 548px !important;
  }
}

.#{$namespace}-datepicker-sidebar + .#{$namespace}-datepicker-content {
  margin-left: $sidebar-margin-left;
}

.#{$namespace}-datepicker-body {
  position: relative;
  user-select: none;
}

.#{$namespace}-btn-shortcut {
  display: block;
  height: 36px;
  width: 100%;
  color: $gray-800-light-theme;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
  padding: 0 0 0 16px;
  //background-color: $inrange-color;
  border-radius: 8px;
  &:hover {
    color: $calendar-in-range-color;
    background-color: $calendar-in-range-background-color;
  }

  &.active {
    color: $primary-color;
    background-color: $calendar-in-range-background-color;
  }
}

.#{$namespace}-range-wrapper {
  display: flex;
  @media (max-width: 750px) {
    flex-direction: column;
    .#{$namespace}-calendar-panel-date:first-child {
      .#{$namespace}-btn-icon-right {
        top: 316px !important;
      }
    }
  }

  .#{$namespace}-calendar-panel-date:first-child {
    .#{$namespace}-btn-icon-left {
      display: none;
    }
    .#{$namespace}-btn-icon-right {
      position: absolute;
      height: unset;
      top: 26px;
      right: 16px;
    }
  }

  .#{$namespace}-calendar-panel-date:nth-child(2) {
    .#{$namespace}-btn-icon-left {
      position: absolute;
      height: unset;
      top: 26px;
      left: 16px;
    }
    .#{$namespace}-btn-icon-right {
      display: none;
    }
  }
}

.#{$namespace}-datepicker-header {
  padding: 6px 8px;
  border-bottom: 1px solid $border-color;
}

.#{$namespace}-datepicker-footer {
  padding: 8px 12px;
  text-align: right;
  border-top: 1px solid $border-color;
}

.#{$namespace}-footer-buttons {
  display: flex;
  justify-content: space-between;

  button {
    border: solid 1px #e0e0e0;
    border-radius: 32px;
    padding: 6px 24px;
    line-height: 1.43;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    max-width: 120px;
    letter-spacing: 1.25px;
  }

  .#{$namespace}-datepicker-btn-confirm {
    color: $primary-color;

    &:hover {
      background-color: $inrange-color;
      border-color: #e0e0e0;
    }
  }

  .#{$namespace}-datepicker-btn-clear {
    border: unset;
    &:hover {
      color: mix(#fff, $default-color, 40%)
    }
  }
}

.#{$namespace}-calendar {
  box-sizing: border-box;
  width: 256px;
  padding: 16px;
}

.#{$namespace}-calendar-header {
  box-sizing: border-box;
  height: 34px;
  line-height: 34px;
  text-align: center;
  overflow: hidden;
}

.#{$namespace}-btn-icon-left,
.#{$namespace}-btn-icon-double-left {
  float: left;
}
.#{$namespace}-btn-icon-right,
.#{$namespace}-btn-icon-double-right {
  float: right;
}

.#{$namespace}-calendar-header-label,
.#{$namespace}-calendar-header-label > .#{$namespace}-btn-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.15px;
  text-align: center;
  color: #28303F;
  height: 100%;
}

.#{$namespace}-calendar-decade-separator {
  margin: 0 2px;
  &:after {
    content: '~';
  }
}

.#{$namespace}-calendar-content {
  position: relative;
  height: 224px;
  box-sizing: border-box;
  .cell {
    cursor: pointer;
    border-radius: 8px;
    &:hover {
      color: $calendar-in-range-color;
      background-color: $calendar-in-range-background-color
    }
    &.active {
      color: $primary-color;
    background-color: $calendar-in-range-background-color
    }
    &.in-range,
    &.hover-in-range {
      color: $calendar-in-range-color;
      background-color: $calendar-in-range-background-color;
    }
    &.disabled {
      cursor: not-allowed;
      color: $disabled-color;
    }
  }
}

.#{$namespace}-calendar-week-mode {
  .#{$namespace}-date-row {
    cursor: pointer;
    &:hover {
      background-color: $calendar-hover-background-color;
    }
    &.#{$namespace}-active-week {
      background-color: $calendar-in-range-background-color;
    }
    .cell {
      &:hover {
        color: inherit;
        background-color: transparent;
      }
      &.active {
        color: inherit;
        background-color: transparent;
      }
    }
  }
}

.#{$namespace}-week-number {
  opacity: 0.5;
}

.#{$namespace}-table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;

  th {
    padding: 0;
    font-weight: 500;
    vertical-align: middle;
  }
  td {
    padding: 0;
    vertical-align: middle;
  }
}

.#{$namespace}-table-date {
  height: unset;
  width: unset;
  border-spacing: 0 4px;
  td,
  th {
    color: #96A4B7;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  .cell.not-current-month {
    color: #ccc;
    background: none; // cover the in-range style
    opacity: 0;
    cursor: auto !important;
    pointer-events: none;
    &:hover {
      opacity: 0 !important;
    }
  }

  .cell {
    cursor: pointer;
    font-size: 14px;
    height: 28px;
    width: 32px;
    color: #191D27;
    border-radius: unset;

    > div {
      height: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
    }
    &:hover {
      color: #fff !important;
      background: unset;
      &:before {
        content: attr(data-value);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        position: absolute;
        opacity: 0.5;
        background-color: #321BDE;
      }
      &:not(.not-current-month) + .hover-in-range :before,
      &:not(.not-current-month) + .active :before {
        content: '';
        display: inline-block;
        width: 32px;
        height: 28px;
        margin-right: 60px;
        z-index: -3;
        position: absolute;
        background: $inrange-color;
        border-radius: 45% 0 0 45%;
      }
    }

    &.active {
      color: #fff;
      background: unset;
      &:before {
        content: '';
        display: inline-block;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin-left: -14px;
        z-index: -2;
        position: absolute;
        background: #321BDE;
      }

      + .in-range :before,
      + .active :before,
      + .hover-in-range :before,
      + :hover:not(.not-current-month):not(.start-month) :before {
        content: '';
        display: inline-block;
        width: 32px;
        height: 28px;
        margin-right: 60px;
        z-index: -3;
        position: absolute;
        background: $inrange-color;
        border-radius: 45% 0 0 45%;
      }
    }

    &.active + .active :after,
    &:hover:not(.not-current-month) + .active :after,
    &.active + :hover:not(.not-current-month):not(.start-month) :after {
      content: '';
      display: inline-block;
      width: 32px;
      height: 28px;
      margin-left: -8px;
      z-index: -3;
      position: absolute;
      background: $inrange-color;
      border-radius: 0 45% 45% 0;
    }
    &.in-range:not(.not-current-month),
    &.hover-in-range:not(.not-current-month) {
      color: $calendar-in-range-color;
      background-color: $calendar-in-range-background-color;

      + .active :after,
      + .cell:not(.in-range):not(.hover-in-range):not(.disabled):not(.not-current-month) :after {
        content: '';
        display: inline-block;
        width: 32px;
        height: 28px;
        margin-left: -8px;
        z-index: -3;
        position: absolute;
        background: $inrange-color;
        border-radius: 0 45% 45% 0;
      }

      &:first-child,
      &.start-month {
        border-radius: 50% 0 0 50%;
      }
      &:last-child,
      &.end-month {
        border-radius: 0 50% 50% 0;
      }
      &.start-month:last-child {
        border-radius: 50%;
      }
      &.end-month:first-child {
        border-radius: 50%;
      }
    }
    &.disabled {
      cursor: not-allowed;
      color: $disabled-color;
    }
    &.today {
      font-weight: 900;
      &:not(.active) {
        color: $today-color;
      }
      &.disabled {
        opacity: 0.5;
      }
    }
  }
}

.#{$namespace}-table-month,
.#{$namespace}-table-year {
  height: unset;
  border-spacing: 8px 8px;
  .cell {
    height: 36px;
  }
}

.#{$namespace}-time {
  flex: 1;
  width: 224px;
  background: #fff;
  margin: 16px 0;
  padding: 0 16px;
  & + & {
    border-left: 1px solid $border-color;
  }
}
.#{$namespace}-calendar-time {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.#{$namespace}-time-header {
  @extend .#{$namespace}-calendar-header;
  border-bottom: 1px solid $border-color;
}

.#{$namespace}-time-content {
  height: 224px;
  box-sizing: border-box;
  overflow: hidden;
}

.#{$namespace}-time-columns {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.#{$namespace}-time-column {
  flex: 1;
  position: relative;
  border-left: 1px solid $border-color;
  text-align: center;

  &:first-child {
    border-left: 0;
  }
  .#{$namespace}-time-list {
    margin: 0;
    padding: 0;
    list-style: none;
    &::after {
      content: '';
      display: block;
      height: 32 * 6px;
    }
  }
  .#{$namespace}-time-item {
    cursor: pointer;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    border-radius: 8px;
    margin: 4px;
    &:hover {
      color: $time-hover-color;
      background-color: $time-hover-background-color;
    }
    &.active {
      color: $time-active-color;
      background-color: $time-active-background-color;
      font-weight: 700;
    }
    &.disabled {
      cursor: not-allowed;
      color: $disabled-color;
      background-color: $disabled-background-color;
    }
  }
}

.#{$namespace}-time-option {
  cursor: pointer;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 20px;
  margin: 2px;
  border-radius: 8px;
  &:hover {
    color: $time-hover-color;
    background-color: $time-hover-background-color;
  }
  &.active {
    color: $time-active-color;
    background-color: $time-active-background-color;
    font-weight: 700;
  }
  &.disabled {
    cursor: not-allowed;
    color: $disabled-color;
    background-color: $disabled-background-color;
  }
}
