$namespace: 'mx' !default;

$default-color: #73879c !default;
$primary-color: #321BDE !default;

$light-gray: #E5E5E5;

$today-color: $primary-color !default;

$popup-z-index: 2001 !default;

$input-border-color: #ccc !default;
$input-color: #555 !default;
$input-hover-border-color: #321BDE !default;

$disabled-color: #ccc !default;
$disabled-background-color: #f3f3f3 !default;

$border-color: #E5E5E5 !default;
$gray-500-light-theme: #cccccc !default;
$gray-800-light-theme: #595959 !default;

$inrange-color: #EFEDFC !default;

$calendar-active-color: #fff !default;
$calendar-active-background-color: $primary-color !default;

$calendar-hover-color: #fff !default;
$calendar-hover-background-color: mix(#fff, $primary-color, 50%) !default;

$calendar-in-range-color: #3C2D6D !default;
$calendar-in-range-background-color: $inrange-color !default;

$time-active-color: $primary-color !default;
$time-active-background-color: $inrange-color !default;

$time-hover-color: #3C2D6D !default;
$time-hover-background-color: $inrange-color !default;

$input-border-radius: 4px !default;
$sidebar-margin-left: 180px !default;
